<ion-view title="Menu">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item>Business Intelligence</ion-item>
            <ion-item>Caixa</ion-item>
            <ion-item href="#/Contabilidade">Contabilidade</ion-item>
            <ion-item>Financeiro</ion-item>
            <ion-item>Patrimônio</ion-item>
            <ion-item>Processo Seletivo</ion-item>
            <ion-item>Secretaria</ion-item>
            <ion-item>Suprimentos</ion-item>
            <ion-item>Tesouraria</ion-item>
        </ion-list>
    </ion-content>
</ion-view>